.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(0, 0, 0, 0.25);
  border-radius: 25px;
  background-color: white;
}

/* Used same hover effect from style.css, but with some opacity */
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem gray;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background: skyblue;
  border-radius: 25px 0 0 25px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}

/* For da HUD */

#hud {
  display: flex;
  justify-content: center;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}